
html,
body,
body > * { /* the app-root */
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
  width: 100%;
}

.sb-input {
  width: 100%;
}

.sb-inline {
  display: inline-flex;
}

.sb-phone-no {
  width: 50%;
  margin-left: 20px;
}

.sb-submit-button-row {
  display: flex;
  margin-top: 20px;
  left: 0px;
}

.sb-submit-button {
  margin-right: 20px;
}

.cdk-overlay-container {
  z-index: 700 !important;
}

.mat-select-disabled .mat-select-value {
  color: rgb(0, 0, 0);
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color:  rgb(0, 0, 0);
}

.sb-time-pick {
  width: 46%;
  margin-right: 20px;
}